@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Messages")
            </li>
            <li>@Html.ActionLink("Logout", "Logout", "Accounts")</li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Accounts")</li>
        <li>@Html.ActionLink("Login", "Login", "Accounts")</li>
    </ul>
}
