@model MessengerClientDB.Models.ViewModels.MessageVM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h5>Deletes message from client database.</h5>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.SenderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiverID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Read)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Read)
        </dd>
    </dl>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </div>
}
<p>
    @Html.ActionLink("Reply", "SendMessage", new { id = Model.ID }) |
    @Html.ActionLink("Inbox", "Inbox", "Messages") |
    @Html.ActionLink("Sent", "Sent", "Messages")
</p>
