@model MessengerClientDB.Models.ViewModels.MessageReadVM

@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>

<div>
    <h5>Mark the message as read/unread.</h5>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SenderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReceiverID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contents)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contents)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Read)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Read)
        </dd>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <dt>
                @Html.DisplayNameFor(model => model.IsRead)
            </dt>
            <dd>
                @Html.CheckBoxFor(model => model.IsRead)
            </dd>
            <div class="form-group">
                <h2/>
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>
            </div>
        }
    </dl>

</div>
<p>
    @Html.ActionLink("Reply", "SendMessage", new { id = Model.ID }) |
    @Html.ActionLink("Inbox", "Inbox", "Messages") |
    @Html.ActionLink("Sent", "Sent", "Messages")
</p>
