@model IEnumerable<MessengerClientDB.Models.ViewModels.UserRolesVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyRoles)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MyRoles)
        </td>
        <td>
            @Html.ActionLink("Update Roles", "UpdateRoles", new { id = item.Id }) |
            @Html.ActionLink("Delete user", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>