@model MessengerClientDB.Models.UpdateRolesViewModel

@{
    ViewBag.Title = "Remove Role";
}

<div>
    <h4>Remove user from role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.myRoles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.myRoles)
        </dd>
    </dl>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @for (var i = 0; i < Model.Roles.Length; i++)
                {
                    <div class="checkbox">
                        @Html.CheckBoxFor(x => @Model.Checked[i])
                        @Html.Label(Model.Roles[i])
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


